<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuquanlife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.jiuquanlife.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jiuquanlife.module.splash.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiuquanlife.module.home.activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.jiuquanlife.module.login.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.tab.NavTabActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.forum.activity.ForumTabActvity" android:screenOrientation="portrait"  />
        <activity android:name="com.jiuquanlife.module.userhome.activity.UserHomeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.post.PostDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.SecondaryHouseListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.SellerHouseDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.RentHouseListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.RentHouseDetailActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedRentHouseDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedRentHouseListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseListActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.house.activity.PublishHouseActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectAreaActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectSubAreaActivity"  android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectCommunityActivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.AgentListAcitivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.house.activity.AgentDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.house.activity.CommunityListAcitivity" android:screenOrientation="portrait" />
        <activity android:name="com.jiuquanlife.module.forum.activity.PostDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.forum.activity.PostListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.jiuquanlife.module.forum.activity.UserCenterActivity" android:screenOrientation="portrait"/>
        
        
        <activity
            android:name="com.jiuquanlife.module.base.PictureViewPagerActivity" android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.PublishSecondaryHouseActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:label="点击图片" >
        </activity>
    </application>

</manifest>