<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuquanlife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.jiuquanlife.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jiuquanlife.module.splash.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiuquanlife.module.home.activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.jiuquanlife.module.login.LoginActivity" />
        <activity android:name="com.jiuquanlife.module.tab.NavTabActivity" />
        <activity android:name="com.jiuquanlife.module.forum.activity.ForumTabActvity" />
        <activity android:name="com.jiuquanlife.module.userhome.activity.UserHomeActivity" />
        <activity android:name="com.jiuquanlife.module.post.PostDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.SecondaryHouseListActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.SellerHouseDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.RentHouseListActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.RentHouseDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedRentHouseDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedRentHouseListActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseListActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.PublishHouseActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectAreaActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectSubAreaActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.SelectCommunityActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.AgentListAcitivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.AgentDetailActivity" />
        <activity android:name="com.jiuquanlife.module.house.activity.CommunityListAcitivity" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.PublishSecondaryHouseActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:label="点击图片" >
        </activity>
    </application>

</manifest>