<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuquanlife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 腾讯定位 sdk 要求的权限  (开始) -->
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.jiuquanlife.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0d6e5ea353151bef5e6e911fa87c5a52" />

        <activity
            android:name="com.jiuquanlife.module.splash.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiuquanlife.module.home.activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jiuquanlife.module.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.home.activity.HomeUserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.tab.HouseTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.ForumTabActvity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.userhome.activity.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.post.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.FilteredHouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.HouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.base.FragmentContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.SellerHouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.RentHouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.RentHouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.WantedRentHouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.WantedRentHouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.WantedBuyHouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.PublishHouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.SelectAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.SelectSubAreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.SelectCommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.AgentListAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.AgentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.CommunityListAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.PostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.OtherUserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.ReplyToMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.ProfileAcitivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.AlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.AlbumPhotoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.UserListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.ForumPostListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.ReadliyTakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.CreatePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.forum.activity.SelectTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jiuquanlife.module.base.PictureViewPagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ThemeActivity" />
        <activity
            android:name="com.jiuquanlife.module.house.activity.PublishSecondaryHouseActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:label="点击图片" >
        </activity>
        <activity
            android:name="com.jiuquanlife.module.forum.activity.SelectFirendActivity"
            android:screenOrientation="portrait" />

        <!-- begin rongcloud -->

        <activity
            android:name="com.jiuquanlife.module.im.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.jiuquanlife.module.im.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jiuquanlife"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiuquanlife.module.im.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jiuquanlife"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CallSideActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jiuquanlife"
                    android:pathPrefix="/VoIPCall"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.rong.voipkit.activity.CalledSideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jiuquanlife"
                    android:pathPrefix="/VoIPAccept"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push" >
            <intent-filter>
                <action android:name="io.rong.imlib.action.push.heartbeat" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <activity
            android:name="io.rong.imkit.tools.SelectPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.PreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.tools.RongWebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.rong.imkit.widget.provider.TakingPicturesActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc" >
        </service>
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver" >
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <!-- <meta-data -->


        <!--
          release key  
        
          <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="tdrvipksr8w55" />
        -->


        <!--
          testkey  
        
          <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="k51hidwq1mpbb" />
        -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="8luwapkvufsgl" />
        <!-- end rongcloud -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55d9b27c67e58ee002004662" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="PublicWeb" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>